.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1015
}

/* .parallx{
    background-image: url("/bgimg.jpg");
    height: 500px;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */